@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,700;1,400&display=swap');
* {
    /*aqui vamos tirar as configuraçõespadão das tags*/
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
}

html,
body {
    font-family: "Source Sans Pro", 'Times New Roman';
    text-rendering: optimizeLegibility;
    /*ajuda na qualidade do zoom da pag*/
    -webkit-font-smoothing: antialiased;
    /*deixar as fontes bem legiveis*/
}


/* HEADER */

header {
    background-color: #0080ed;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 980px;
    /*proconteudo não esticar demais na tela*/
    height: 80px;
    margin: auto;
}

header nav ul {
    display: flex;
    /* home, artig e contato vao ficar em horizontal*/
}

header nav ul li {
    list-style: none;
}

header nav ul li a {
    text-decoration: none;
    /* tirar o underline*/
    color: white;
    text-transform: uppercase;
    /*ficar maiusculo*/
    font-size: 18px;
    padding: 24px;
    transition: all 250ms linear 0s;
    /*animação no home, artig cotato*/
}

header nav ul li a:hover {
    /*quando passar o mause encima do conteudo link ele muda cor*/
    background: rgba(255, 255, 255, 0.15);
}

header .container img {
    height: 30px;
}

#checkbox-menu {
    display: none
}


/* MAIN */

main {
    margin-bottom: 100px;
}

main .container-main {
    /*pra ficar responsivo*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 980px;
    margin: 100px auto 0px auto;
}

h2 {
    color: rgb(0, 0, 0);
    font-size: 45px;
    line-height: 50px;
    /*pro texto nao ficar colado*/
    font-weight: bold;
}

h3 {
    color: rgb(131, 131, 131);
    font-size: 20px;
    line-height: 28px;
    margin: 10px 0;
}


/*FORMATANDO O FOMULARIO da seção MAIN*/

form {
    margin-top: 20px;
    /* distancia o formulario do h3*/
}

form input {
    width: 380px;
    padding-left: 15px;
    font-size: 18px;
    height: 45px;
    margin-bottom: 13px;
    border-radius: 20px;
    /*arredondar as bordas*/
    border: 2px solid #0080ed;
}

form [type="submit"] {
    background-color: #0080ed;
    color: white;
    width: 150px;
    padding-left: 0px;
    font-size: 16px;
    height: 40px;
}


/*personalisando o cursor qd passar em cima do enviar*/

form [type="submit"]:hover {
    cursor: pointer;
    background-color: rgba(0, 128, 237, 0.75);
    transform: translateY(-2px);
    /*acima vai fazer o botão saltar pra cima*/
}

main .container-main img {
    width: 600px;
}


/* CARDS */

a {
    text-decoration: none;
}

.cards {
    width: 90%;
    max-width: 980px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
    /*distancia de um item(img) pra outra*/
}

.text--medium {
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    color: rgb(187, 185, 185);
}

.card {
    display: flex;
    flex-direction: column;
    /*as imagens e seus textos em colunas*/
    cursor: pointer;
    box-shadow: 5px 5px 15px -4px #000000;
    /*vai dar uma sobra para os cards,tom de sobreçair*/
    transition: all 0.3s ease 0s;
    /*projetar a imagem pra frente*/
    border-radius: 10px;
    /*boda fica arredondada em baixo*/
}

.card:hover {
    transform: translateY(-7px);
    /*projetar a imagem, pra ela ir pra cima eixo y*/
}

.image {
    width: 100%;
    padding-top: 56.25%;
    overflow: hidden;
    /*vai deixar a imagem no seu devido local sem entar na outra ao lado*/
    position: relative;
    border-radius: 10px 10px 0 0;
    height: 225px;
}

.image img {
    position: absolute;
    border-radius: 10px;
    top: 50%;
    /*reduzir a imagem pra caber duas*/
    left: 50%;
    transform: translate(-50%, -50%);
}

.content {
    margin: 20px;
}

.title {
    margin-bottom: 0px;
}

.desafio {
    font-size: 100px;
    display: flex;
    justify-content: center;
    height: 400px;
    align-items: center;
    border: 1px solid black;
    margin: 100px auto;
    max-width: 980px;
}